service:
  type: NodePort
  port: 4566

environment:
  SERVICES: "s3,lambda,sqs,sns,dynamodb,apigateway,cloudformation"
  DEBUG: "0"
  LAMBDA_EXECUTOR: "docker-reuse"
  DATA_DIR: "/tmp/localstack/data"

resources:
  requests:
    cpu: 0.5
    memory: 1Gi
  limits:
    cpu: 1
    memory: 1.5Gi

persistence:
  enabled: true
  storageClass: "local-path"
  accessMode: ReadWriteOnce
  size: 5Gi
